# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Build output
dist/
build/

# Editor config
.vscode/
.idea/
*.iml

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.production
.env.development

# Logs
*.log
logs/

#tests
coverage/